{
  "models": {
    "mode": "merge",
    "providers": {
      "openrouter-free": {
        "baseUrl": "https://openrouter.ai/api/v1",
        "apiKey": "YOUR-API-KEY-HERE",
        "api": "openai-completions",
        "models": [
          {
            "id": "stepfun/step-3.5-flash:free",
            "name": "Step 3.5 Flash",
            "reasoning": true,
            "input": [
              "text",
              "image"
            ]
          },
        ]
      }
    }
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "openrouter-free/stepfun/step-3.5-flash:free"
      },
      "compaction": {
        "mode": "safeguard"
      }
    },
    "list": [
      {
        "id": "main",
        "name": "Generic Agent"
      }
    ]
  },
  "commands": {
    "native": "auto",
    "nativeSkills": "auto",
    "restart": true,
    "ownerDisplay": "raw"
  },
  "gateway": {
    "port": 18789,
    "mode": "local",
    "bind": "lan",
    "controlUi": {
      "enabled": true,
      "allowedOrigins": [
        "http://localhost:18789",
        "http://127.0.0.1:18789"
      ],
      "allowInsecureAuth": true
    },
    "auth": {
      "mode": "token",
      "token": "openaisharedkey"
    },
    "http": {
      "endpoints": {
        "chatCompletions": {
          "enabled": true
        }
      }
    }
  }
}
